body {
	background-color: #9C9C9C;
}

h1 {
	background-color: #E3C565;
	color: #FAFBF2;
}

h2 {
	color: #E3C565;
}

h3 {
	color: #E3C565;
}

 p {
    color: #E3C565;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    border: 10px solid #FAFBF2;
    padding: 1px;
}

h3 {
	color: #E3C565;
}

h3 {
	color:#E3C565;
}

a:link {
  color: #FAFBF2;
}

a:visited {
  color: #FAFBF2;
}

a:hover {
  color: ##595959;
}

	
	
	
	


