body {
	background-color: #9C9C9C;
}

h1 {
	background-color: #E3C565;
	color: #FAFBF2;
}

h2 {
	color: #E3C565;
}

h3 {
	color: #E3C565;
}

p {
	color: #E3C565;
	margin-top: 100px;
  	margin-bottom: 100px;
 	margin-right: 105px;
  	margin-left: 105px;
	border: 100px solid;
	border-color: #FAFBF2;
}

h3 {
	color: #E3C565;
}

h3 {
	color:#E3C565;
}

a:link {
  color: #FAFBF2;
}

a:visited {
  color: #FAFBF2;
}

a:hover {
  color: ##595959;
}

	
	
	
	


